<div class="card" style="row-gap:24px">
  <div>
    <div class="btn is-primary">Primary</div>
    <div class="btn is-secondary">Secondary</div>
    <div class="btn is-accent">Accent</div>
    <div class="btn is-tertiary">Tertiary</div>
    <div class="btn is-outline">Outline</div>
    <div class="btn is-ghost">Ghost</div>
  </div>
  <div>
    <div class="btn is-sm is-primary">Small</div>
    <div class="btn is-md is-primary">Medium</div>
    <div class="btn is-lg is-primary">Large</div>
    <div class="btn is-xl is-primary">Extra Large</div>
  </div>
  <div>
    <div class="btn is-secondary is-block">Bouton Pleine Largeur</div>
  </div>
</div>