<div class="card">
  <div class="feature-card">
    <div class="feature-icon is-green"></div>
    <div>Toujours Aimés</div>
    <div>Des soins attentionnés pour tous nos compagnons</div>
  </div>
  <div class="feature-card">
    <div class="feature-icon is-peach"></div>
    <div>Engagements</div>
    <div>Notre promesse de qualité et de sécurité</div>
  </div>
  <div class="feature-card">
    <div class="feature-icon is-blue"></div>
    <div>Communauté</div>
    <div>Rejoignez une communauté d'amoureux des animaux</div>
  </div>
</div>