<div class="card" style="row-gap:24px">
  <div class="input">
    <div class="input-label">Email</div>
    <div class="input-field"><span>votre@email.com</span></div>
    <div class="input-hint">Nous respectons votre vie privée</div>
  </div>
  <div class="input">
    <div class="input-label">Nom de votre animal</div>
    <div class="input-field is-focus"><span>Rex, Minou...</span></div>
  </div>
  <div class="input">
    <div class="input-label">Message</div>
    <div class="input-field is-error"><span>Votre message...</span></div>
    <div class="input-error">Ce champ est requis</div>
  </div>
</div>