<div class="card">
  <div style="display:flex;gap:24px;justify-content:space-between">
    <div style="display:flex;flex-direction:column;row-gap:12px;align-items:center">
      <div style="width:224px;height:224px;border-radius:16px;box-shadow:0px 10px 15px -3px #0000001a, 0px 4px 6px -4px #0000001a;background:#ca6f4a"></div>
      <div>Primary</div>
      <div>Orange Coral</div>
    </div>
    <div style="display:flex;flex-direction:column;row-gap:12px;align-items:center">
      <div style="width:224px;height:224px;border-radius:16px;box-shadow:0px 10px 15px -3px #0000001a, 0px 4px 6px -4px #0000001a;background:#ffd400"></div>
      <div>Secondary</div>
      <div>Yellow</div>
    </div>
    <div style="display:flex;flex-direction:column;row-gap:12px;align-items:center">
      <div style="width:224px;height:224px;border-radius:16px;box-shadow:0px 10px 15px -3px #0000001a, 0px 4px 6px -4px #0000001a;background:#ac91ed"></div>
      <div>Accent</div>
      <div>Lavender</div>
    </div>
    <div style="display:flex;flex-direction:column;row-gap:12px;align-items:center">
      <div style="width:224px;height:224px;border-radius:16px;box-shadow:0px 10px 15px -3px #0000001a, 0px 4px 6px -4px #0000001a;background:#5ea3d0"></div>
      <div>Tertiary</div>
      <div>Blue</div>
    </div>
    <div style="display:flex;flex-direction:column;row-gap:12px;align-items:center">
      <div style="width:224px;height:224px;border-radius:16px;box-shadow:0px 10px 15px -3px #0000001a, 0px 4px 6px -4px #0000001a;background:#fff5e6;border:2px solid #f5edd7"></div>
      <div>Neutral</div>
      <div>Cream</div>
    </div>
  </div>
</div>