<section id="design-system">
  <h2>Design System</h2>

  <article id="ds-palette">
    <h3>Palette</h3>
    {% include "components/palette.html" %}
  </article>

  <article id="ds-buttons">
    <h3>Boutons</h3>
    {% include "components/buttons.html" %}
  </article>

  <article id="ds-cards">
    <h3>Cartes</h3>
    {% include "components/cards.html" %}
  </article>

  <article id="ds-feature-cards">
    <h3>Cartes de fonctionnalités</h3>
    {% include "components/feature-cards.html" %}
  </article>

  <article id="ds-inputs">
    <h3>Champs de saisie</h3>
    {% include "components/inputs.html" %}
  </article>

  <article id="ds-badges-alerts">
    <h3>Badges & Alertes</h3>
    {% include "components/badges_alerts.html" %}
  </article>
</section>