{% with post=post.specific %}
<section class="blog-area pt-80">
            <div class="container">
               <div class="row">
                  <div class="col-xl-10 col-lg-9">
                     <div class="tpblog__left-wrapper">
                        <div class="tpblog__left-item ">
                           <div class="row">
                              <div class="col-lg-6 col-md-6">
                                 <div class="tpblog__item tpblog__item-2 mb-20">
                                   {% with post.main_image as main_image %}

            {% if main_image %}
            <figure>
                {% image main_image fill-160x100 %}
            </figure>
            {% endif %}

            {% endwith %}

</article>
                                    <div class="tpblog__wrapper">
                                       <div class="tpblog__entry-wap">
                                          <span class="cat-links"><a href="shop-details.html">Lifestyle</a></span>
                                          <span class="author-by"><a href="#">Admin</a></span>
                                          <span class="post-data"><a href="#">{{ post.date }}</a></span>
                                       </div>
                                       <h4 class="tpblog__title"><a href="blog-details.html">{{ post.title }}
                                          </a></h4>
                                       <p>{{ post.body }}</p>
                                       <div class="tpblog__details">
                                          <a href="blog-details.html">Continue reading <i class="icon-chevrons-right"></i> </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              
                           </div>
                        </div>
                        <div class="tpbasic__pagination pr-100">
                           <div class="row">
                              <div class="col-lg-12">
                                 <div class="basic-pagination text-center mb-80">
                                    <nav>
                                       <ul>
                                          <li>
                                             <span class="current">1</span>
                                          </li>
                                          <li>
                                             <a href="blog.html">2</a>
                                          </li>
                                          <li>
                                             <a href="blog.html">3</a>
                                          </li>
                                          
                                       </ul>
                                     </nav>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-2 col-lg-3">
                     <div class="tpblog__right-item pb-50">
                        <div class="sidebar__widget mb-30">
                           <div class="sidebar__widget-content">
                              <div class="sidebar__search">
                                 <form action="#">
                                    <div class="sidebar__search p-relative">
                                       <input type="text" placeholder="Search">
                                       <button type="submit"><i class="far fa-search"></i></button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                        <div class="sidebar__widget mb-55">
                           <h3 class="sidebar__widget-title mb-15">Tags</h3>
                           <div class="sidebar__widget-content">
                              <div class="tagcloud">
                                 <a href="blog-details.html">healthy</a>
                                 <a href="blog-details.html">natural</a>
                                 <a href="blog-details.html">salad</a>
                                 <a href="blog-details.html">foods</a>
                                 <a href="blog-details.html">orfarm</a>
                                 <a href="blog-details.html">meat</a>
                                 <a href="blog-details.html">grocery </a>
                                 <a href="blog-details.html">fresh</a>
                                 <a href="blog-details.html">vegan</a>
                                 <a href="blog-details.html">vegetables</a>
                                 <a href="blog-details.html">seafoods</a>
                                 <a href="blog-details.html">fruits</a>
                                 <a href="blog-details.html">tomato</a>
                                 <a href="blog-details.html">cooking</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>