@use '../vars.scss' as *;

.btn{display:flex;align-items:center;justify-content:center;border-radius:$RADIUS_PILL;box-shadow:$SHADOW_SM;padding:$SPACE_3 $SPACE_6;height:$HEIGHT_MD;font-family:$font-sans;font-size:$FS_16;font-weight:500}
.btn.is-primary{background:$COLOR_PRIMARY;color:$text-color}
.btn.is-secondary{background:$COLOR_SECONDARY;color:#ffffff}
.btn.is-accent{background:$COLOR_ACCENT;color:#ffffff}
.btn.is-tertiary{background:$COLOR_TERTIARY;color:#ffffff}
.btn.is-outline{border:$BORDER_MD solid $text-color;background:transparent;color:$text-color;padding:$SPACE_2 $SPACE_5}
.btn.is-ghost{background:transparent;color:$text-color;padding:$SPACE_3 $SPACE_6}

.btn.is-sm{padding:$SPACE_2 $SPACE_4;height:$HEIGHT_SM;font-size:$FS_14}
.btn.is-md{padding:$SPACE_3 $SPACE_6;height:$HEIGHT_MD}
.btn.is-lg{padding:$SPACE_4 $SPACE_7;height:$HEIGHT_LG;font-size:$FS_18}
.btn.is-xl{padding:$SPACE_5 $SPACE_8;height:$HEIGHT_XL;font-size:$FS_20}
.btn.is-block{width:100%}