@use "sass:map";
@use "./vars.scss" as *;
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

@function sz($k) {
  @return map.get($FONT_SIZES, $k);
}

@function ls($k) {
  @return map.get($LETTER_SPACING, $k);
}

@function wt($k) {
  @return map.get($FONT_WEIGHTS, $k);
}

@mixin textSans(
  $sizeKey,
  $weightKey: regular,
  $lh: null,
  $lsKey: none,
  $transform: none
) {
  font-family: $FONT_SANS;
  font-size: sz($sizeKey);
  font-weight: wt($weightKey);
  letter-spacing: ls($lsKey);
  text-decoration: none;
  @if $lh != null {
    line-height: $lh;
  }
  @if $transform != none {
    text-transform: $transform;
  }
}

@mixin textHeading(
  $sizeKey,
  $weightKey: $BOLD,
  $lh: null,
  $lsKey: none,
  $transform: uppercase
) {
  font-family: $FONT_HEADING;
  font-size: sz($sizeKey);
  font-weight: wt($weightKey);
  letter-spacing: ls($lsKey);
  text-decoration: none;
  @if $lh != null {
    line-height: $lh;
  }
  @if $transform != none {
    text-transform: $transform;
  }
}

@mixin labelUpper($sizeKey, $weightKey: $SEMIBOLD, $lh: null, $lsKey: md) {
  @include textSans($sizeKey, $weightKey, $lh, $lsKey, uppercase);
}

/** ---------------------------------------------------------------------------------
------------------------------------- BASE FONT -------------------------------------
-------------------------------------------------------------------------------------*/

html {
  font-size: 16px;
}

h1 {
  color: $COLOR_TEXT;
  @include textHeading(xxl, $BOLD, 1.2rem, xl);
}

h2 {
  color: $COLOR_TEXT;
  @include textHeading(xl, $BOLD, 1.2rem, lg);
}

h3 {
  color: $COLOR_TEXT;
  @include textHeading(lg, $BOLD, 1.2rem, md);
}

h4 {
  color: $COLOR_TEXT;
  @include textSans(md, $BOLD, 1.2rem, sm);
}

h5 {
  color: $COLOR_TEXT;
  @include textSans(sm, $SEMIBOLD, 1.2rem, none);
}

h6 {
  color: $COLOR_TEXT;
  @include textSans(xs, $SEMIBOLD, 1.2rem, none);
}

p {
  color: $COLOR_TEXT;
  @include textSans(sm, regular, 1.2rem, none);
}

  color: $COLOR_TEXT_MUTED;
  @include textSans(xs, regular, 1.4rem, xs);
}

strong {
  font-weight: 700;
}

  color: $COLOR_TEXT;
  text-decoration: underline;
  @include textSans(md, $SEMIBOLD, 1.4rem, none);
}

  color: $COLOR_TEXT;
  @include labelUpper(md, $SEMIBOLD, 1.4rem);
}

button {
  @include labelUpper(md, $BOLD, 1.4rem);
}

ul,
ol,
  color: $COLOR_TEXT;
  @include textSans(md, regular, 1.2rem, none);
}

  color: $COLOR_TEXT_MUTED;
  @include textSans(md, regular, 1.2rem, sm);
}
