{% load static %}
<nav class="site-nav">
  <div class="nav-left">
    <a href="#" class="nav-link">Chien <span class="icon icon-angle"></span></a>
    <a href="#" class="nav-link">Chat <span class="icon icon-angle"></span></a>
    <a href="#" class="nav-link">Quizz produit</a>
    <a href="#" class="nav-btn">Ouvrir un compte</a>
  </div>

  <a href="/" class="nav-brand">
    <span class="nav-brand-badge"></span>
    <span class="nav-brand-text">dogs &amp; daisies</span>
  </a>

  <div class="nav-right">
     </div>
</nav>